@import "../../assets/styles/variables.css";

.card {
  width: 400px;
  padding: 10px;
  border: 1px solid #eee;
}

.inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.btn:focus {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
  box-shadow: none;
}

.card-img {
  height: 250px;
}
