.form {
  height: 680px;
  box-shadow: 0px 0px 4px 3px black;
  width: 20%;
  color: black;
  margin-inline: 200px;
  background-color: white;
  margin-top: -350px;
}
h1 {
  padding: 6px;
}
.postpage {
  background-color: #e7e8ec;
}
.all {
  margin-top: 300px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  height: 739px;
}

.tabl {
  width: 65%;
  margin-top: -140px;
}
.table {
  margin-top: -80px;
  border: 1px solid black;
  background-color: white;

  margin-inline: 60px;
}

@media all and (min-width: 570px) and (max-width: 1350px) {
  .all {
    flex-direction: column-reverse;
    margin-top: 300px;
  }
  .form {
    width: 340px;
    margin-inline: 140px;
  }
  .tabl {
    margin-top: 120px;
    margin-inline: 10px;
  }
  h1 {
    margin-top: 100px;
  }
}
@media all and (min-width: 450px) and (max-width: 1600px) {
  .cardd {
    display: none;
  }
}

@media all and (min-width: 414px) {
  .r {
    max-width: 445.5px;
  }
}
@media all and (max-width: 500px) {
  .all {
    flex-direction: column-reverse;
    margin-top: -90px;
  }
  .form {
    margin-top: -380px;
    margin-inline: 10px;
    width: 330px;
  }
  .tabl {
    display: none;
  }
  .cardd {
    max-width: 320px;
    margin-inline: 30px;
  }
  .r {
    max-width: 320px;
  }
  .b {
    display: flex;
    justify-content: space-around;
  }
  h1 {
    font-size: 20px;
  }
}
