.logo {
  width: 140px;
  height: 60px;
}

ul li {
  text-align: center;
  padding: 0 10px 0 0;
}

ul li a {
  color: #fff !important;
  font-size: 13px;
}

.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0b90b !important;
}

.navbar {
  background-color: #12161c;
}
