@import "../../assets/styles/variables.css";

.logo {
  width: 150px;
  height: 60px;
  margin-inline: 200px;
}

@media only screen and (max-width: 992px) {
  .logo {
    width: 120px;
    height: 50px;
  }
}

ul li {
  text-align: center;
  padding: 0 10px 0 0;
}

ul li a {
  color: var(--white) !important;
  font-size: 13px;
}

.navbar .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: var(--blue) !important;
}

.navbar {
  background-color: var(--white);
}

.nav-link {
  color: var(--black) !important;
}
